<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Note</title>
    <style>
    .styled-table {
    border-collapse: collapse;
    margin: 25px 440px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
    .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
    .styled-table th,
    .styled-table td {
    padding: 12px 15px;
}
    .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

      .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

    .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
    .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
    </style>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #58310c;">
      <form class="container-fluid justify-content-start">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="margin-left: 10px">Pesan</h5>
          <a href="add-note" class="btn btn-outline-success" style="margin-left: 10px; color: black; border-color: brown; ">Tambah Pesan</a>
          <a href="/lab-4/" class="btn btn-outline-success" style="margin: 5px; color: black; border-color: brown; ">Tabel Pesan</a>
          <a href="note-list" class="btn btn-outline-success" style="color: black; border-color: brown;">Kartu Pesan</a>
      </form>
  </nav>
    </header>
    <table class="styled-table"> 
      <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
      </tr>
      <!-- EXAMPLE SECTION -->
      {% if note %}
      {% for notes in note %}
      <!-- EXAMPLE SECTION -->
          <tr>
            <td>{{ notes.untuk }}</td>
            <td>{{ notes.dari }}</td>
            <td>{{ notes.judul }}</td>
            <td>{{ notes.pesan }}</td>
          </tr>
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
