<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
 .container {
      padding: 16px 0;
      background-color: #ACA885;
      margin: 2rem auto;
      display: flex;
      max-width: 250px;
      text-align:center;
      flex-direction: column;
      border-style: solid;
      border-color: black;
      border-radius: 5px;

 }

 .submit-button{
    text-align:center;
    width: 10%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    background: #7D7764;
 }

 .submit-button:hover{
   background-color: #918B76;
 }

    .input{
      margin: 0.05px;
}

    </style>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Note</title>
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #58310c;">
      <form class="container-fluid justify-content-start">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="margin-left: 10px">Pesan</h5>
          <a href="add-note" class="btn btn-outline-success" style="margin-left: 10px; color: black; border-color: brown; ">Tambah Pesan</a>
          <a href="/lab-4/" class="btn btn-outline-success" style="margin: 5px; color: black; border-color: brown; ">Tabel Pesan</a>
          <a href="note-list" class="btn btn-outline-success" style="color: black; border-color: brown;">Kartu Pesan</a>
      </form>
  </nav>
    <div class="container">
      <form action="" method=POST>
        
        {% csrf_token %}
        <table class="input" style="margin: 25px 410px;">
      
        {{form}}
        </table>
        <!-- <p>Untuk</p>
          <input type = "text" class="input" name = "Untuk" required id= "id_untuk">
  
          <p>Dari</p>
          <input type = "text" class="input" name = "Dari" required id= "id_dari">
          
          <p>Judul</p>
          <input type = "text" class="input" name = "Judul" required id= "id_judul">
  
          <p>Pesan</p>
          <textarea name = "Pesan" required id= "id_Pesan" style="width: 200px;"></textarea> -->
          <div class ="submit">
          <input type="submit" class="submit-button">
          </div>
      </form>
    </div>
  </body>
</html