<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .styled-table {
      border-collapse: collapse;
      margin: 25px 25px;
      font-size: 0.9em;
      font-family: sans-serif;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

      </style>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Note</title>
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #58310c;">
      <form class="container-fluid justify-content-start">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="margin-left: 10px">Pesan</h5>
          <a href="add-note" class="btn btn-outline-success" style="margin-left: 10px; color: black; border-color: brown; ">Tambah Pesan</a>
          <a href="/lab-4/" class="btn btn-outline-success" style="margin: 5px; color: black; border-color: brown; ">Tabel Pesan</a>
          <a href="note-list" class="btn btn-outline-success" style="color: black; border-color: brown;">Kartu Pesan</a>
      </form>
  </nav>
  <div class="row">
    {% for notes in note %}
      <div class="col-sm-3">
      <div class="styled-table">
        <div class="card-body">
          <h5 class="card-title">{{notes.judul}}</h5>
          <p class="card-text">Untuk : {{ notes.untuk }} <br> Dari : {{ notes.dari }}</p>
          <p class="card-text">Pesan : {{ notes.pesan }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </body>
</html>