<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Note</title>
  </head>
  <body>
    <table>
      <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
      </tr>
      <!-- EXAMPLE SECTION -->
      {% if note %}
      {% for notes in note %}
      <!-- EXAMPLE SECTION -->
          <tr>
            <td>{{ notes.untuk }}</td>
            <td>{{ notes.dari }}</td>
            <td>{{ notes.judul }}</td>
            <td>{{ notes.pesan }}</td>
          </tr>
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
